div.epp-ctn--gtr
  header.epp-cl-1.epp-space-top-8
    div.epp-cl-1-8
      img.avatar--small.avatar--rounded(ng-src="{{coat.user.avatar}}")
      
    if !extraMsg  
      div.epp-ctn.epp-cl-1-2.epp-air-left-8
        p.screenname
          span.text--bold {{coat.user.name}}
          img.epp-space-left-8.valign--middle(src="/statics/images/star.png" width="15" height="15")
          span.user-counter.text--bold  234
        span.subline 20 minutes ago
        
      div.epp-cl-1-4.align-right
        button.button--follow.text--smallest(ng-if="user.id != coat.user.id && !coat.user.isFriend" ng-click="follow(coat)") Follow
    
    else
      div.epp-ctn.epp-cl-3-4.epp-air-left-8
        p.screenname
          span.text--bold {{coat.user.name}}
          span.notification-desc  #{extraMsg}
        span.subline 20 minutes ago  
        
    div.epp-cl-1-12.align-right.relative
      span.epp-cl-2-3.icon-3points.link-style(ng-click="toggleTooltip(toggleTooltip(['coat',coat.id].join('-')))") &nbsp;
      div.epp-air-8.tooltip.tooltip-bottom.fade(ng-if="tooltips[['coat',coat.id].join('-')]")
        a(href="javascript:;" ng-click="getOriginUrl(coat)") Url Origin
        a(href="javascript:;" ng-click="muteUser(coat.user.id)" ng-if="user.id != coat.user.id") Mute {{coat.user.name}}
        a(href="javascript:;" ng-click="reportUser(coat.user.id)" ng-if="user.id != coat.user.id") Report user
        a(href="javascript:;" ng-click="unfollow(coat)" ng-if="user.id != coat.user.id && coat.user.isFriend") Unfollow
        a(href="javascript:;" ng-click="deleteCoat(coat.id)" ng-if="user.id == coat.user.id") Delete coat
      span.tooltip-caret.tooltip-caret-bottom(ng-if="tooltips[coat.id]")


  main.epp-cl-1.epp-space-top-8.coat-message
    p.epp-air-right-8
      | {{coat.message}}

  div.post-reply.epp-space-top-16(ng-init="setEntity(coat, 'coat')" ng-if="showPostReply['coat-' + coat.id]")
    include reply-box

  footer.epp-cl-1.epp-space-top-24.epp-air-bottom-16(ng-if="!showPostReply[coat.id]" ng-class="{'border--gray':coat.replies.length}")
    div.epp-cl-1-6
      p.link-style.text--bold.footer-link(ng-click="upvote(coat)") upvote
      span.text--smallest.color--gray.text--bold(ng-if="coat.upvotes") {{coat.upvotes | abbrNum}}
    div.epp-cl-1-4
      p.link-style.text--bold.footer-link(ng-click="downvote(coat)") downvote
      span.text--smallest.color--gray.text--bold(ng-if="coat.downvotes") {{coat.downvotes | abbrNum}}
    div.epp-cl-1-6
      p.link-style.text--bold.footer-link(ng-click="toggleReplyBox(coat, 'coat')") reply
      span.text--smallest.color--gray.text--bold(ng-if="coat.replies.length") {{coat.replies.length | abbrNum}}
    div.epp-cl-1-6
      p.link-style.text--bold.footer-link(ng-click="tip(coat)") tip
      span.text--smallest.color--gray.text--bold(ng-if="coat.tips") {{coat.tips | abbrNum}}

    div.epp-cl-1-6.align-right.relative.right.epp-air-right-6
      p.link-style.text--bold.footer-link(data-ng-click="toggleShareTooltip(coat.id)") share
        span &nbsp;
      span.text--smallest.color--gray
      div.epp-air-8.tooltip.tooltip-top.fade(ng-if="shareTooltips[coat.id]")
        a(href="javascript:;" ng-click="share('tw')") Share on Twitter
        a(href="javascript:;" ng-click="share('fb')") Share on Facebook
        a(href="javascript:;" ng-click="getLink(coat)") Get link
      span.tooltip-caret.tooltip-caret-top(ng-if="shareTooltips[coat.id]")

  div.epp-ctn--gtr.append.append--photo-ctn(ng-if="coat.picture")
    div.append--photo(ng-style="{'background-image': 'url('+coat.picture+')'}")

  div.append.append--replies-ctn(ng-if="coat.replies.length")
    include reply