article.epp-air-bottom-8.oc-box.reply.border--gray(ng-repeat="reply in coat.replies")
  div.epp-ctn--gtr
    div.epp-cl-1.epp-space-top-16
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(ng-src="{{reply.user.avatar}}")
      div.epp-cl-3-4.epp-air-left-8
        p
         span.screenname.text--bold {{reply.user.name}}
         |  - {{reply.message}}

      // Menu
      div.epp-cl-1-12.align-right.relative
        span.epp-cl-2-3.icon-3points.link-style(ng-click="toggleTooltip(toggleTooltip(['reply',reply.id].join('-')))") &nbsp;
        div.epp-air-8.tooltip.tooltip-bottom.fade(ng-if="tooltips[['reply',reply.id].join('-')]")
          a(href="javascript:;" ng-click="tooltip.getOriginUrl(reply)") Url Origin
          a(href="javascript:;" ng-if="user.id != reply.user.id && !isFriend(reply.user.id)" ng-click="follow(reply.user.id)") follow
          a(href="javascript:;" ng-click="muteUser(reply.user.id)" ng-if="user.id != reply.user.id") Mute {{reply.user.name}}
          a(href="javascript:;" ng-click="reportUser(reply.user.id)" ng-if="user.id != reply.user.id") Report user
          a(href="javascript:;" ng-click="unfollow(reply.user.id)" ng-if="user.id != reply.user.id && reply.user.isFriend") Unfollow
          a(href="javascript:;" ng-click="deleteReply(reply.id, coat)" ng-if="user.id == reply.user.id") Delete reply
        span.tooltip-caret.tooltip-caret-bottom(ng-if="tooltips[reply.id]")

    div.epp-cl-1-6.epp-space-left-6.epp-air-top-8
      div.reply-bar(ng-if="reply.replies.length" src="") &nbsp;

    div.post-reply.epp-space-top-16(ng-init="setEntity(reply, 'reply')" ng-if="showPostReply['reply-' + reply.id]")
      include reply-box

    div.epp-cl-3-4.epp-space-top-8.epp-air-left-8(ng-if="!showPostReply['reply-' + reply.id]")
      div.epp-cl-1-5
        p.link-style.footer-link.text--bold(ng-click="upvote(reply)") upvote
        span.text--smallest.color--gray.text--bold(ng-if="reply.upvotes") {{reply.upvotes | abbrNum}}
      div.epp-cl-1-4
        p.link-style.footer-link.text--bold(ng-click="downvote(reply)") downvote
        span.text--smallest.color--gray.text--bold(ng-if="reply.downvotes") {{reply.downvotes | abbrNum}}
      div.epp-cl-1-6
        p.align-center.link-style.text--bold.footer-link(ng-click="toggleReplyBox(reply, 'reply')") reply
        span.text--smallest.color--gray.text--bold(ng-if="reply.replies.length") {{reply.replies.length | abbrNum}}
      div.epp-cl-1-6
        p.link-style.footer-link.text--bold(ng-click="tip(reply)") tip
        span.text--smallest.color--gray.text--bold(ng-if="reply.tips") {{reply.tips | abbrNum}}


      div.epp-cl-1.epp-ctn--gtr.append.append--photo-ctn(ng-if="reply.picture")
        div.epp-cl-1.append--photo(ng-style="{'background-image': 'url('+reply.picture+')'}")

  // Reply de reply
  article.epp-air-bottom-8.oc-box.reply.border--gray(ng-repeat="reReply in reply.replies")
    div.epp-ctn--gtr
      div.epp-cl-1.epp-space-top-16
        div.epp-cl-1-8
          img.avatar--small.avatar--rounded(ng-src="{{reReply.user.avatar}}")
        div.epp-cl-3-4.epp-air-left-8
          p
            span.screenname.text--bold {{reReply.user.name}}
            |  - {{reReply.message}}

        // Menu
        div.epp-cl-1-12.align-right.relative
          span.epp-cl-2-3.icon-3points.link-style(ng-click="toggleTooltip(toggleTooltip(['sub-reply',reReply.id].join('-')))") &nbsp;
          div.epp-air-8.tooltip.tooltip-bottom.fade(ng-if="tooltips[['sub-reply',reReply.id].join('-')]")
            a(href="javascript:;" ng-click="tooltip.getOriginUrl(reReply)") Url Origin
            a(href="javascript:;" ng-if="user.id != reReply.user.id && !isFriend(reReply.user.id)" ng-click="follow(reReply.user.id)") follow
            a(href="javascript:;" ng-click="muteUser(reReply.user.id)" ng-if="user.id != reReply.user.id") Mute {{reReply.user.name}}
            a(href="javascript:;" ng-click="reportUser(reReply.user.id)" ng-if="user.id != reReply.user.id") Report user
            a(href="javascript:;" ng-click="unfollow(reReply.user.id)" ng-if="user.id != reReply.user.id && reReply.user.isFriend") Unfollow
            a(href="javascript:;" ng-click="deleteReply(reReply.id, reply)" ng-if="user.id == reReply.user.id") Delete reply
          span.tooltip-caret.tooltip-caret-bottom(ng-if="tooltips[reReply.id]")

      div.epp-cl-1-6