article.oc-box.epp-space-top-8(class="oc-box--friend-invitation")
  div.epp-ctn--gtr
    header.epp-cl-1.epp-space-top-8.epp-space-bottom-8
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(src="/statics/images/avatar-invite.png")
      div.epp-ctn.epp-cl-3-5.epp-air-left-8
        p.screenname
          span.text--bold Ernesto Sábato

      div.epp-cl-1-4.epp-air-top-8.epp-air-bottom-8.epp-air-left-8
        button.button--invite.text--smallest(ng-click="acceptInvitation(1)") Invite
        button.button--close.text--smallest(ng-click="ignoreInvitation(1)") X