article.oc-box.epp-space-top-8(class="oc-box--{{notification.type}}")
  div.epp-ctn--gtr
    header.epp-cl-1.epp-space-top-8.epp-space-bottom-8
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(ng-src="{{notification.user.avatar}}")
      div.epp-ctn.epp-cl-2-3.epp-air-left-8.epp-air-top-8
        p
          span.screenname.text--bold {{notification.user.screenName}}
          span.notification-desc  just joined Overcoat!

      div.epp-cl-1-6.epp-air-top-8
        button.button--follow.text--smallest.valign--text-top(ng-if="user.id != notification.user.id && notification.user.isFriend" ng-click="follow(notification.user.id)") Follow