article.oc-box.epp-space-top-8(class="oc-box--{{notification.type}}")
  div.epp-ctn--gtr
    header.epp-cl-1.epp-space-top-8.epp-space-bottom-8
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(ng-src="{{notification.user.avatar}}")
      div.epp-ctn.epp-cl-2-3.epp-space-left-8
        p.screenname
          span.text--bold {{notification.user.screenName}}
          span.notification-desc  followed you from
        p.link-style.text--bold.notification-link tiptap.com

      div.epp-cl-1-12.epp-space-left-8.align-right.right.relative
        span.epp-cl-1.icon-3points.link-style(ng-click="toggleTooltip([notification.type,notification.id].join('-'))") &nbsp;
        div.epp-air-8.tooltip.tooltip-bottom(ng-if="tooltips[[notification.type,notification.id].join('-')]")
          a(href="javascript:;" ng-click="tooltip.getOriginUrl(notification)") Url Origin
          a(href="javascript:;" ng-if="!notification.user.isFriend" ng-click="tooltip.followBack(notification.user.id)") Follow back
          a(href="javascript:;" ng-if="notification.user.isFriend" ng-click="tooltip.followBack(notification.user.id)") Unfollow
        span.tooltip-caret.tooltip-caret-bottom(ng-if="tooltips[[notification.type,notification.id].join('-')]")