article.oc-box(class="oc-box--friend-invitation")
  div.epp-ctn--gtr
    header.epp-cl-1.epp-space-top-8.epp-space-bottom-8
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(src="/statics/images/avatar-invite.png")
      div.epp-ctn.epp-cl-3-5.epp-air-left-8
        p.screenname
          span.text--bold {{invitation.name}}

      div.epp-cl-1-4.epp-air-top-8.epp-air-bottom-8
        button.button--invite.text--smaller(ng-click="acceptInvitation(invitation)") Invite
        a.epp-space-left-16(href="javascript:;" ng-click="ignoreInvitation(invitation)")
          img.valign--middle(src="/statics/images/close-white.png" width="14" height="14")