article.oc-box.epp-space-top-8(class="oc-box--{{notification.type}}")
  div.epp-ctn--gtr
    header.epp-cl-1.epp-space-top-8.epp-space-bottom-8
      div.epp-cl-1-8
        img.avatar--small.avatar--rounded(ng-src="{{notification.user.avatar}}")
      div.epp-ctn.epp-cl-3-5.epp-air-8
        p.screenname
          span.text--bold {{notification.user.screenName}}
          span  just joined Overcoat!

      div.epp-cl-1-4.epp-air-8
        button.epp-space-left-32.button--follow.text--smallest follow