@font-face {
	font-family: 'Overcoat Book';
	src:url('/statics/fonts/Overcoat-Book.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat Ultra';
	src:url('/statics/fonts/Overcoat-Ultra.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat Medium';
	src:url('/statics/fonts/Overcoat-Medium.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat Bold';
	src:url('/statics/fonts/Overcoat-Bold.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat Black';
	src:url('/statics/fonts/Overcoat-Black.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat Thin';
	src:url('/statics/fonts/Overcoat-Thin.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Overcoat News';
	src:url('/statics/fonts/Overcoat-News.otf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cubano';
	src:url('/statics/fonts/Cubano-Regular.ttf');
	font-weight: bold;
	font-style: normal;
}
