//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\

// 01 Color Variables

$gray-lightest:#f2f2f2;
$gray-lighter:#ccc;
$gray-light:#aaa;
$gray:#777;
$gray-dark:#555;
$gray-darker:#444;
$gray-darkest:#222;

$blue-light:#335692;
$blue:#002C77;
$blue-dark:#00163C;

$link-light:#1a99df;
$link:#157ab1;
$link-dark:#10567b;

$cyan-light:#EAF8FD;
$cyan:#4FC1EF;

$orange-light:#FF9433;
$orange:#FF7900;
$orange-dark:#DF6800;//#BF5B00;//#DD6B26;

$red-light:#F9DBDC;
$red: #DC1C24;
$red-dark: #A5151B;

$green-light:#E6F1CF;
$green: #DC1C24;
$green-dark:#415D08;

$yellow:#FFFF00;

$red:#f00;

$white:#fff;

$black:#000;

$facebook:#4D68A1;
$facebook-light:#7389BB;
$facebook-dark:#3A4D78;

// Alert Color Variables
$error:#DC1C24;
$error-light:#EC9C99;
$error-dark:#A6161D;

$ok:#509E3C;
$ok-light:#8DC592;
$ok-dark:#2D5C23;

$warning:#F6BC33;
$warning-light:#F6CD64;
$warning-dark:#E2A109;

$notification:#2671DD;
$notification-light:#90B1EB;
$notification-dark:#174990;

$staticPath:"https://static.almundo.com/";

$hover-link:#DEEFF9;

$tripadvisor:#678D44;

$star:#FDBA12;
