section.epp-ctn.epp-cl-1.epp-ctn--gtr.main(ng-if="component == 'activity' && notifications.length")
  // Include templates
  include notifications

  //- (ng-repeat="friendInvitation in friendInvitations")
  div.friend-invitations.epp-space-top-8(ng-if="invitations.length")
    span.invite-title.epp-space-top-8.epp-air-left-16 Invite friends to overcoat

  div(ng-if="invitations.length" ng-repeat="invitation in invitations" ng-include="getView('friend-invitation')")

  div(ng-repeat="notification in notifications")
    div(ng-include="getView(notification.type)")