section.epp-ctn.epp-cl-1.epp-ctn--gtr.main(ng-if="component == 'activity' && notifications.length")
  include notifications

  //- (ng-repeat="friendInvitation in friendInvitations")
  div.friends-invtations
    div(ng-include="getView('friend-invitation')")
    div(ng-include="getView('friend-invitation')")

  div(ng-repeat="notification in notifications")
    div(ng-include="getView(notification.type)")