section.epp-ctn.epp-cl-1.epp-ctn--gtr.main(ng-if="component == 'coats'")
  div.epp-ctn.epp-cl-1.epp-space-top-8.epp-space-bottom-8.align-center(ng-if="newCoats")
    div.epp-cl-1-4.new-coats(ng-click="getCoats()")
      span.icon-up
      span.link-style  New coats

  article.oc-box.epp-space-top-6.coat-box(ng-repeat="coat in coats" ng-class="{'with-picture' : coat.picture}")
    include partials/coat

  div.first-here.align-center(ng-cloak ng-if="!coats.length")
    img.epp-space-top-32.epp-space-bottom-32(src="/statics/images/avatar-male.png")
    p Hi.
      br
      | You're the first
      br
      | one here!

    p.epp-space-top-32 What is it about this place?
    p.epp-space-top-32 Start posting in the box
      br
      | above and I'll get
      br
      | your friends to join us.