section.epp-ctn.epp-cl-1.epp-ctn--gtr.main(ng-if="component == 'coats'")
  div.epp-ctn.epp-cl-1.epp-space-top-8.epp-space-bottom-8.align-center(ng-if="newCoats.length")
    div.epp-cl-1-4.new-coats
      span.link-style(ng-click="addCoats(5)") New coats

  article.oc-box.epp-space-top-8(ng-repeat="coat in coats")
    include partials/coat

div(ng-if="noCoats")
  p Be the first to overcoat here and rule the land
  p What is it about this site?
  p Questions?
  p Comments?
  p Complaints?