// Account component
section.epp-ctn.epp-cl-1.main(ng-if="component == 'discover'")
  div.epp-space-bottom-16.discover

    article.epp-ctn--gtr.oc-box.epp-space-top-8.epp-air-top-8.epp-air-bottom-8
      div.epp-cl-3-4
        span.coat-name.text--bold whitehouse.com
      div.epp-cl-1-4.align-right.epp-air-top-8
        h2.counters 8.2k
        span.text--smaller.counter--text.text--bold coats

    article.epp-ctn--gtr.oc-box.epp-space-top-8.epp-air-top-8.epp-air-bottom-8
      div.epp-cl-3-4
        span.coat-name.text--bold whitehouse.com
      div.epp-cl-1-4.align-right.epp-air-top-8
        h2.counters 234
        span.text--smaller.counter--text.text--bold coats


    article.oc-box.epp-space-top-8.epp-air-8
      div.epp-cl-1-6
        img.avatar--small.avatar--rounded(ng-src="{{user.avatar}}")
      div.epp-ctn.epp-cl-2-3
        p.screenname
          span.text--bold John Doe
        div.epp-cl-1.epp-space-top-8.user-stats
          div.epp-cl-1-4
            h2.counters 212
            span.counter--text.text--bold.text--smaller Coats
          div.epp-cl-1-3
            h2.counters 34
            span.counter--text.text--bold.text--smaller Followers
          div.epp-cl-1-3
            h2.counters 1m
            span.counter--text.text--bold.text--smaller Following
      div.epp-cl-1-6.align-right
        button.button--follow.text--smallest follow