div.main-menu__button(ng-class="{'main-menu__button--active': isActive('coats')}" ng-if="!hideMenu")
  span(ng-click="getCoats()") Coats
  br
  span.icon-down(ng-click="toggleSubmenu('Coats')")
a.main-menu__button(href="javascript:;" ng-click="getActivity()" ng-class="{'main-menu__button--active': isActive('activity')}" ng-if="!hideMenu")
  span Activity
  br
  | &nbsp;
div.main-menu__button(ng-class="{'main-menu__button--active': isActive('discover')}" ng-if="!hideMenu")
  span(ng-click="getDiscover()") Discover
  br
  | &nbsp;
  span.icon-down(ng-click="toggleSubmenu('Discover')")
div.main-menu__button(ng-class="{'main-menu__button--active': isActive('search')}" ng-if="!hideMenu")
  span.icon-search(ng-click="toggleSearchbox()") &nbsp;
  br
  | &nbsp;

a.main-menu__button.item-avatar(href="javascript:;" ng-click="toggleAccount()" ng-class="{'main-menu__button--active': isActive('account')}" ng-if="!hideMenu")
  img.avatar--smallest(ng-src="{{user.avatar}}")

div.epp-cl-1.epp-space-bottom-24.epp-space-left-8.align-left.main-menu__button.main-menu__button--active(href="javascript:;" ng-if="showAccount && hideMenu")
  div.epp-cl-5-6.my-account My Account
  div.epp-cl-1-12.align-center.close-account(ng-click="toggleAccount()" ng-if="showAccount && hideMenu")
    img.valign--middle(src="/statics/images/close-blue.png")

div.epp-cl-1.epp-ctn.submenu(ng-class="{'submenu-coats': showSubmenu == 'coats', 'submenu-discover':showSubmenu=='discover'}")
  div.epp-cl-1.align-left.epp-ait-top-16.align-left(ng-if="showSubmenu == 'coats'")
    a.main-menu__button.border-bottom.epp-cl-1(href="javascript:;" ng-click="getCoats('active')" ng-class="{'main-menu__button--active': isSubActive('active')}")
      span Most Activew
    a.main-menu__button.border-bottom.epp-cl-1(href="javascript:;" ng-click="getCoats('latest')" ng-class="{'main-menu__button--active': isSubActive('latest')}")
      span Latest
    a.main-menu__button.epp-cl-1(href="javascript:;" ng-click="getCoats('hotSites')" ng-class="{'main-menu__button--active': isSubActive('hotSites')}")
      span Hot Coats

  div.epp-cl-1.align-left(ng-if="showSubmenu == 'discover'")
    a.main-menu__button.border-bottom.epp-cl-1(href="javascript:;" ng-click="getDiscover('hotSites')" ng-class="{'main-menu__button--active': isSubActive('hotSites')}")
      span Hot sites
    a.main-menu__button.border-bottom.epp-cl-1(href="javascript:;" ng-click="getDiscover('newSites')" ng-class="{'main-menu__button--active': isSubActive('newSites')}")
      span New sites
    a.main-menu__button.border-bottom.epp-cl-1(href="javascript:;" ng-click="getDiscover('topCoaters')" ng-class="{'main-menu__button--active': isSubActive('topCoaters')}")
      span Top coaters
    a.main-menu__button.epp-cl-1(href="javascript:;" ng-click="getDiscover('hotCoats')" ng-class="{'main-menu__button--active': isSubActive('hotCoats')}")
      span Hot coats anywhere

div.epp-cl-1.align-left.epp-space-left-16.submenu-search(ng-if="component == 'search'")
  a.main-menu__button(href="javascript:;" ng-click="toggleSearchbox('site')" ng-class="{'main-menu__button--active': isSubActive('site')}")
    span This site
  a.main-menu__button.epp-space-left-8(href="javascript:;" ng-click="toggleSearchbox('all')" ng-class="{'main-menu__button--active': isSubActive('all')}")
    span Across all sites

