script(type="text/ng-template" id="friend-join.html")
  include notifications/friend-join

script(type="text/ng-template" id="friend-follow.html")
  include notifications/friend-follow

script(type="text/ng-template" id="friend-post.html")
  include notifications/friend-post

script(type="text/ng-template" id="upvote.html")
  include notifications/upvote

script(type="text/ng-template" id="reply.html")
  include notifications/reply