div.epp-ctn.epp-space-bottom-16.posting-box(ng-if="showPostingBox")
  div
    div.epp-cl-1-8
      img.avatar--small.avatar--rounded(ng-src="{{user.avatar}}")
    div.epp-ctn.epp-cl-5-6.epp-space-left-8
      textarea
        | This is a Post

  div.footer-links
    div.epp-cl-1-8 &nbsp;
    div.epp-ctn.epp-cl-5-6.epp-space-left-8
      div.epp-cl-1-2
        a.link-style.footer-link + Photo
      div.epp-cl-1-2.align-right
        a.link-style.footer-link.link-style--gray(ng-click="togglePostingBox()") Cancel
        a.epp-space-left-8.link-style.footer-link Coat