section.epp-ctn.epp-cl-1.main.search-wrapper(ng-if="component == 'search' && showSearchbox")
  div.epp-ctn.epp-cl-5-6.epp-space-top-16.epp-air-8.box--rounded.coat-row
    form(ng-submit="searchSubmit(searchText)")
      input.epp-cl-11-12.epp-air-left-8.rounded-box.search-box(placeholder="Search" name="searchCoat" ng-model="searchText")
      img(src="/statics/images/input-search.png")
  
  div.epp-cl-1-6.epp-space-top-16.align-right.close-search.epp-air-right-8(ng-click="toggleSearchbox()")
    img.valign--middle(src="/statics/images/close-blue.png")