section.epp-ctn.epp-cl-1.epp-ctn--gtr.main(ng-if="component == 'search'")
  div.epp-ctn.epp-cl-1.epp-space-top-24.epp-space-bottom-8.search-results
    p.epp-space-top-16.trending.text--bold TRENDING
    ul
      li.epp-cl-1.epp-space-bottom-8.oc-box.display-inblock.link-style #dasdada
      li.epp-cl-1.epp-space-bottom-8.oc-box.display-inblock.link-style #dasdada
      li.epp-cl-1.epp-space-bottom-8.oc-box.display-inblock.link-style #dasdada