section.epp-ctn.epp-cl-1.epp-ctn--gtr.epp-space-top-16.main(ng-if="component == 'search'")
  article.oc-box.epp-space-top-6.coat-box(ng-repeat="coat in coats" ng-class="{'with-picture' : coat.picture}")
    include partials/coat