div.epp-ctn.epp-ctn--gtr.main-header(ng-if="user")
  // Search component
  include search

  // Main header
  nav.epp-space-top-16.main-menu.align-center(ng-if="user")
    include main-header

  // Coats component
  div.epp-ctn.epp-space-bottom-8.epp-air-8.coat-row.epp-space-left-8.epp-space-right-8(ng-class="{'box--rounded': !showPostingBox}" ng-if="component == 'coats' && !showPostingBox")
    div.epp-cl-1-8
      img.avatar--smallest.avatar--rounded(ng-src="{{user.avatar}}")
    p.epp-cl-5-6.epp-space-bottom-16.rounded-box
      span(ng-click="togglePostingBox()") Coat {{site.name}}

  // Post-box component
  div.epp-air-bottom-8(ng-if="showPostingBox")
    include posting-box

  // Invite friends component
  div(ng-if="modal == 'invite'")
    include modals/invite-modal