div.epp-ctn.epp-ctn--gtr.main-header(ng-if="user")
  // Search component
  include search

  // Main header
  nav.epp-space-top-24.main-menu.align-center(ng-if="user" ng-class="{'border-bottom-search': showSubmenu == 'search'}")
    include main-header

  // Coats component
  div.epp-ctn.epp-space-16.epp-space-top-16.epp-space-bottom-6.epp-air-8.epp-air-left-16.coat-row(ng-class="{'box--rounded': !showPostingBox}" ng-if="component == 'coats' && !showPostingBox")
    div.epp-cl-1-8
      img.avatar--smallest.avatar--rounded(ng-src="{{user.avatar}}")
    p.epp-cl-5-6.epp-space-bottom-16.rounded-box
      span.coat-site(ng-click="togglePostingBox()") Coat {{site.name}}

  // Post-box component
  div.epp-space-top-24(ng-if="showPostingBox")
    include posting-box

  // Invite friends component
  div(ng-if="modal == 'invite'")
    include modals/invite-modal