div.epp-ctn.epp-ctn--gtr.main-header(ng-if="user")
  // Main header
  nav.epp-cl-1.epp-space-top-16.epp-space-bottom-16.main-menu.align-center(ng-if="user")
    include main-header

  // Coats component
  div.epp-ctn.epp-cl-1.epp-space-bottom-16.coat-row(ng-if="component == 'coats'")
    div.epp-cl-1-8
      img.avatar--smallest.avatar--rounded(ng-src="{{user.avatar}}")
    p.epp-cl-7-12.epp-space-bottom-16.rounded-box
      span.link-style Coat {{site.name}}

  // Search component
  div.epp-ctn.epp-cl-1.epp-space-bottom-16.coat-row(ng-if="component == 'search' && showSearchbox")
    input.epp-cl-1.rounded-box(placeholder="Search coats" name="searchCoat" value="")

  // Post-box component
  div(ng-if="component == 'coats'")
    include posting-box

  // Invite friends component
  div(ng-if="component == 'invite'")
    //- include modals/invite-modal