div.epp-ctn.welcome-main(ng-if="!user")
  div.epp-cl-1
    div.new-posts(ng-if="newCoats > 0")
      span new posts!

    div.epp-ctn.epp-space-top-32.epp-air-left-20.epp-air-right-20
      h1.welcome-overcoat
        | WELCOME
        br
        | TO OVERCOAT

    div.site-mission.epp-cl-1.epp-space-bottom-32.epp-air-left-20
      p.text--smaller
        | Connect on the web's top layer! <br>
        | Post comments on any website <br>
        | It's an URL social network

    div.network-login.epp-air-16.epp-air-left-20.epp-air-right-20.epp-air-top-32.epp-cl-1.epp-space-top-32.epp-space-bottom-32
      p.text--bold SIGN UP / LOGIN

      div.epp-space-top-32.network-list

        div.epp-cl-1.network-row.network--fb.epp-space-bottom-8(ng-click="authenticate('facebook')")
          p Connect with Facebook

        div.epp-cl-1.network-row.network--tw.epp-space-bottom-8(ng-click="authenticate('twitter')")
          p Connect with Twitter

        div.epp-cl-1.network-row.network--gl.epp-space-bottom-8(ng-click="getAccount(1)")
          p Connect with Google

      p.epp-space-top-24.text--smaller.terms
        | By signing up you agree to Overcoat's Terms of Service

    div.epp-space-top-32.epp-space-right-32.align-right
      p.footer-message It's free & easy!
