div.epp-ctn.welcome-main(ng-if="!user")
  div.epp-cl-1
    div.epp-ctn.epp-space-top-32.epp-space-bottom-32.epp-air-16
      h2 WELCOME TO OVERCOAT

    div.site-mission.epp-air-16.epp-cl-1.epp-space-top-32.epp-space-bottom-16
      p.text--smaller
        | Connect on the web's top layer! <br>
        | Post comments on any website <br>
        | It's an URL social network

    div.network-login.epp-air-16.epp-cl-1.epp-space-top-32.epp-space-bottom-32
      p LOGIN WITH
      button.text--smaller.epp-cl-1-3.epp-space-top-16.epp-space-bottom-16.link-style(ng-click="signin('facebook')") Facebook Login
      button.text--smaller.epp-cl-1-3.epp-space-top-16.epp-space-bottom-16.link-style(ng-click="signin('twitter')") Twitter Login
