//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\

// 01 Import epp mixins
// 02 Import Variables
// 03 Import Components
// 04 Import Icons

@import "epp";
@import "commons/oc-variables";
@import "commons/oc-components";
@import "commons/oc-icons";
@import "commons/oc-utils";

$blue: #0099e8;

.overcoatExtensionContainer {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #b4cddd;
}

button {
	cursor: pointer;
}

.text--bold {
	font-weight: bold;
}

.text--smallest {
	font-size: 0.75rem;
	line-height: 1rem;
	font-weight: normal;
}

.avatar--small {
	width: 47px;
	height: 47px;
}

.avatar--smallest {
	width: 34px;
	height: 34px;
}

.link-style {
	color: #009be2;
	&:hover {
		text-decoration: none;
		opacity: 80%;
	}
}

.link-style--gray {
	color: #999;
}

.main-header {
	background-color: #0099e8;
	padding: 0 10px;

	nav {
		.main-menu__button {
			font-size: 0.8rem;
			color: #a3dbf5;
			font-weight: bold;
			line-height: 2rem;
			padding: 0 8px;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			vertical-align: middle;

			&.main-menu__button--active {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
			}

			span {
				cursor: pointer;
			}

			.icon-down {
				margin-left: 5px;
			}
		}

		.submenu {
			.main-menu__button {
				font-size: 0.65rem;
				padding: 0 5px;
			}

			.submenu-search {
				.main-menu__button {
					font-size: 1rem;
				}
			}

		}

		.icon-search {
			background-image: url('/statics/images/lupa.png');
			width: 25px;
			height: 25px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.close-search {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 2.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.close-account {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 1.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.coat-row {
		border-radius: 5px;
		background: #fff;

		img {
			display: inline-block;
			vertical-align: middle;
		}

		input {
			color: $blue;
			&.rounded-box {
				border: 0px;
			}
		}
		.avatar--small {
			.avatar--rounded {
				border-radius: 3px;
			}
		}

		p {
			color: #0099e8;
			font-size: 1rem;
			line-height: 2rem;
		}
	}

	.posting-box {
		background: #fff;
		padding: 8px;
		border-radius: 8px;
		textarea {
			font-size: 0.75rem;
			color: #333333;
			border: 0;
		}
	}
}

.footer-link {
	line-height: 1rem;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 0.60rem;
	font-weight: bold;
}

.main {
	.relative {
		position: relative;
	}

	.new-coats {
		background-color: #009be2;
		border-radius: 15px;
		font-size: 0.75rem;
		span {
			color: #fff;
		}
	}

	.screenname {
		margin: 0;
		line-height: 1rem;
		font-size: 0.8rem;
	}

	.subline {
		color: #ccc;
		font-size: 0.87rem;
	}

	.oc-box {
		background: #fff;

		&.oc-box--friend-join {
			p {
				line-height: 1.5rem;
			}
		}

		.button--follow {
			border: 1px solid #0099e8;
			border-radius: 5px;
			background-color: #fff;
			color: #0099e8;
			cursor: pointer;
			height: 25px;
		}

		.icon-3points {
			height: 25px;
			background-image: url('/statics/images/3-points.png');
			background-color: transparent;
			background-repeat: no-repeat;
			background-position-x: center;
		}

		footer {
			border-bottom: 1px solid #cccccc;
			padding-bottom: 8px;
		}

		.append {
			&.append--replies-ctn {
				background-color: #b4cddd;
			}
			&.append--photo-ctn {
				height: 200px;

				.append--photo {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: 50%;
					background-image: url('/statics/images/photo.png');
				}
			}
		}
	}

	.account {
		background: #fff;

		.account--header {
			padding: 16px 8px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 16px;
		}

		.account--footer {
			border-bottom: 1px solid #ccc;
			padding: 16px 8px;

			p {
				color: #ff8000;
				font-size: 2rem;
			}

			span {
				font-size: 0.75rem;
				text-transform: uppercase;
			}
		}
	}

	.discover {
		.coat-name {
			font-size: 1rem;
			line-height: 2.5rem;
			color: #0099e8;
		}

		.num-coat {
			margin: 0;
			color: #ff8000;
			display: block;
			line-height: 1.5rem;
		}

		.num-coat--text {
			display: inline-block;
			vertical-align: middle;
			color: #444;
		}

		.user-stats {
			h2 {
				color: #ff8000;
				margin: 0;
			}
			span {
				font-size: 0.70rem;
				color: #444;
				text-transform: uppercase;
			}
		}
	}
}

.modal-invite {
	color: #fff;
}

.welcome-main {
	background: #0099e8;
	color: #fff;
	height: 100%;

	.site-mission {
		p {
			font-size: 1rem;
		}
	}

	.network-login {
		button {
			color: #0099e8;
			background-color: #fff;
			border-radius: 5px;
			&:hover {
				text-decoration: none;
			}
		}
	}
}

.tooltip {
	width: 180px;
	background: #0099e8;
	color:white;
	position:absolute;
	z-index:9;
	padding:0.4% 1%;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius:3px;
	right:0;

	a {
		color: #fff;
		display: block;
		font-size: 0.85rem;
		line-height: 1.2rem;
		&:hover {
			text-decoration: none;
		}
	}

	&-top {
		top: -90px;
	}

	&-bottom {
		top: 32px;
	}
}

.tooltip-caret {
	&:before {
		content:'';
		position: absolute;
		width: 0;
		height: 0;
		border: 6px solid #0099e8;
	}
	&:after {
		content:'';
		position: absolute;
		width: 0;
		height: 0;
		border: 5px solid transparent;
	}

	&:before {
		right: 10px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&-bottom:before {
		right: 10px;
		top: 27px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-width: 0;
		border-bottom-width: 5px;
	}

	&-top:before {
		right: 10px;
		top: -17px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&:after {
		margin-left: -5px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}
}

