//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\
// 01 Import epp mixins
// 02 Import Variables
// 03 Import Components
// 04 Import Icons
@import "epp";
@import "commons/fonts";
@import "commons/oc-variables";
@import "commons/oc-components";
@import "commons/oc-icons";
@import "commons/oc-utils";

$blue: #0099e8;

.epp-ctn--gtr>[class*="epp-cl-"] {
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
}

.epp-space-6 { margin: 6px !important; }
.epp-space-top-6 { margin-top: 6px !important; }
.epp-space-right-6 { margin-right: 6px !important; }
.epp-space-bottom-6 { margin-bottom: 6px !important; }
.epp-space-left-6 { margin-left: 6px !important; }

.epp-air-6 { padding: 6px !important; }
.epp-air-top-6 { padding-top: 6px !important; }
.epp-air-right-6 { padding-right: 6px !important; }
.epp-air-bottom-6 { padding-bottom: 6px !important; }
.epp-air-left-6 { padding-left: 6px !important; }

.epp-air-left-20 { padding-left: 20px !important }
.epp-air-right-20 { padding-right: 20px !important }

.overcoatExtensionContainer {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

body {
	color: #000;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #0099e8;
	font-family: 'Overcoat News', sans-serif;
	font-size: 13px;
}

main {
	height: 100%;
}

button {
	font-family: 'Overcoat Medium', sans-serif;
	cursor: pointer;
}

textarea, input {
	outline: none;
	border: 0;
}

.valign--top {
	display: inline-block;
	vertical-align: top;
}

.valign--text-top {
	display: inline-block;
	vertical-align: text-top;
}

.valign--middle {
	display: inline-block;
	vertical-align: middle;
}

.valign--bottom {
	display: inline-block;
	vertical-align: bottom;
}

.text--bold {
	font-weight: bold;
	font-family: 'Overcoat Bold', sans-serif;
}

.text--smallest {
	font-size: 11px;
	line-height: 1.2rem;
	font-weight: normal;
}

.text--smaller {
	font-size: 12px;
	line-height: 1rem;
	font-weight: normal;
}

.avatar--small {
	width: 47px;
	height: 47px;
}

.avatar--smallest {
	width: 34px;
	height: 34px;
}

.avatar--rounded {
	border-radius: 3px;
}

.box-footer {
	border-bottom: 2px solid #1a5d8a;
	box-shadow: 0 -1px 0 #1a5d8a inset;
}

.link-style {
	color: #009be2;
	&:hover {
		text-decoration: none;
		opacity: 80%;
	}
}

.link-style--gray {
	color: #999;
	&:hover {
		color: #999;
	}
}

.right {
	float: right;
}

.main-header {
	background-color: #0099e8;

	nav {
		font-family: 'Cubano', sans-serif;

		&.border-bottom-search {
			border-bottom: 1px solid #fff;
			padding-bottom: 12px;
		}
		.main-menu__button {
			font-size: 21px;
			color: #a3dbf5;
			line-height: 0.9rem;
			padding: 0 8px;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			vertical-align: middle;

			&.main-menu__button--active {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
			}

			span {
				cursor: pointer;
			}

			.icon-down {
				font-size: 0.75rem;
			}

			&.item-avatar {
				@extend .valign--top;
				margin-top: -2px;
			}
		}

		.submenu {
			background-color: #2a86c9;
			position: absolute;
			top: 38px;
			width: 218px;
			display: block;
			line-height: 0.6rem;
			border-radius: 5px;
			overflow: hidden;

			&.submenu-coats {
				left: 0;
			}

			&.submenu-discover {
				right: 0;
			}

			.main-menu__button {
				font-family: "Overcoat Bold";
				font-size: 16px;
				padding: 13px 16px;
				text-transform: none;
			}

			.border-bottom {
				border-bottom: 1px solid #0069bf;
			}

		}

		.submenu-search {

			.main-menu__button {
				font-family: "Overcoat Medium";
				font-size: 14px;
				text-transform: none;
			}
		}

		.icon-search {
			background-image: url('/statics/images/lupa.png');
			width: 25px;
			height: 25px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.close-search {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 2.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.close-account {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 1.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.my-account {
		font-family: "Cubano";
		font-size: 1.3rem;
	}

	.coat-row {
		background: #fff;
		padding-left: 12px !important;

		img {
			display: inline-block;
			vertical-align: middle;
		}

		input {
			color: $blue;
			&.rounded-box {
				border: 0px;
			}
		}

		p {
			color: #ccc;
			font-family: "Overcoat Medium";
			font-size: 18px;
			line-height: 2rem;
			cursor: pointer;
		}
	}

	.posting-box {
		@extend .box-footer;
		background: #fff;
		padding: 8px;

		textarea {
			font-family: "Overcoat News";
			font-size: 18px;
			color: #333;
			border: 0;
		}

		.button--close {
			color: #ccc;
		}

		.footer-links input {
			@extend .valign--bottom;
			font-size: 15px;
		}
	}
}

.footer-link {
	line-height: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 11px;
}

input.footer-link {
	line-height: 1rem;
	font-size: 14px;
	background: transparent;
	vertical-align: baseline;
	font-family: "Overcoat Bold";
}
.main {
	height: 100%;
	.relative {
		position: relative;
	}

	.first-here {
		background: #1e1f24;
		color: #c0c0c0;
		height: 100%;

		p {
			font-family: "Overcoat Book";
			font-size: 24px;
			line-height: 2rem;
		}

	}

	.new-coats {
		background-color: #009be2;
		border-radius: 15px;
		font-size: 0.75rem;
		span {
			color: #fff;
		}
	}

	.screenname {
		margin: 0;
		line-height: 1.2rem;
		font-size: 13px;
		white-space: nowrap;
		text-overflow: ellipsis;
		.user-counter {
			color: #999999;
			font-size: 10px;
			padding-left: 2px;
		}
	}

	.subline {
		color: #6b6b6b;
		font-size: 13px;
	}

	.friend-invitations {
		background-color: #ff8000;
		color: #fff;

		.invite-title {
			display: inline-block;
			font-size: 1rem;
			font-family: "Cubano";
			text-transform: uppercase;
		}
	}

	.oc-box {
		background: #fff;
		color: #333;

		&.coat-box {
			&.with-picture footer {
				border-bottom: 0;
				box-shadow: none;
			}
		}

		&.reply {
			background: #f4f4f4; 

			.icon-3points {
				padding-left: 6px;
			}

		}

		.reply-bar {
			background-color: #ccc;
			border-radius: 5px;
			width: 5px;
			height: 100%;
			margin: 0 auto;
		}

		&.oc-box--friend-invitation {
			color: #fff;
			font-family: "Overcoat Bold";
			background-color: #ff8000;
			.screenname {
				font-size: 13px;
				line-height: 3rem;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&.oc-box--friend-join {
			p {
				line-height: 2rem;
			}
		}

		.notification-link {
			font-size: 13px;
		}

		.notification-desc {
			color: #333;
			font-size: 13px;
		}

		.icon-3points {
			height: 25px;
			background-image: url('/statics/images/3-points.png');
			background-color: transparent;
			background-repeat: no-repeat;
			background-position: center top;
		}

		main {
			color: #333;
		}

		footer {
			@extend .box-footer;
		}

		.append {
			&.append--replies-ctn {
				background-color: #0099e8;
			}
			&.append--photo-ctn {
				height: 200px;

				.append--photo {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: 50%;
					background-image: url('/statics/images/photo.png');
				}
			}
		}
	}

	&.search-wrapper {
		margin-bottom: -16px;
	}

	.search-box {
		color: #999 !important;
		font-family: 'Overcoat News', sans-serif;
		font-size: 14px;
	}

	.search-results {
		background: #fff;
		border-top: 1px solid #7d7d7d;
		
		li {
			font-family: "Overcoat Medium";
			font-size: 13px;
			color: #0c9fe3;
			margin-left: 0;
		}
	}
	
	.trending {
		color: #999;
		font-size: 11px;
	}
		
	.account {
		background: #fff;

		.logout {
			margin-left: 12px;
			color: #848484;
		}

		.account--header {
			padding: 16px 0;
			padding-bottom: 0;
		}

		.account--footer {
			padding: 16px 8px;

			p {
				color: #ff8000;
				font-size: 27px;
				margin-bottom: 4px;
			}

			span {
				font-family: "Overcoat Bold";
				font-size: 11px;
				line-height: 1.5rem;
				color: #999;
				text-transform: uppercase;
			}
		}
	}

	.discover {
		.oc-box {
			@extend .box-footer
		}

		.coat-name {
			font-size: 14px;
			line-height: 2.5rem;
			color: #0099e8;
		}

		.counters {
			margin: 0;
			color: #ff8000;
			display: block;
			font-family: "Overcoat Medium";
			font-size: 27px;
			line-height: 1rem;
		}

		.counter--text {
			text-transform: uppercase;
			display: inline-block;
			vertical-align: middle;
			color: #999;
		}

		.user-stats {

		}
	}

	.post-reply {
		padding: 6px;
	}

	.post-reply-box {
		border: 1px solid #ccc;
		position: relative;
		background-color: #fff;

		.icon-close-reply {
			background-image: url('/statics/images/close-reply.png');
			background-repeat: no-repeat;
			display: inline-block;
			width: 25px;
			height: 25px;
			position: absolute;
			top: -25px;
			right: 0;
			cursor: pointer;
		}

		&:after, &:before {
			bottom: 100%;
			left: 82%;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
		}

		&:before {
			border-bottom-color: #ccc;
			border-width: 25px;
			margin-left: -25px;
		}

		&:after {
			border-bottom-color: #fff;
			border-width: 24px;
			margin-left: -24px;
		}
	}
}

.modal-invite {
	color: #fff;
}

.welcome-main {
	background: #0099e8;
	color: #fff;
	height: 100%;
	font-family: "Cubano";

	.new-posts {
		text-transform: none;
		font-family: "Overcoat Bold";
		font-size: 23px;
		padding: 35px 0 0 12px;
	}

	h1 {
		&.welcome-overcoat {
			font-size: 50px;
			line-height: 3rem;
		}
	}

	.site-mission {
		margin-top: 12px;
		p {
			font-family: "Overcoat Medium";
			font-size: 1.3rem;
			line-height: 1.7rem;
		}
	}

	.network-login {
		background-color: #0a759d;

		p {
			font-family: "Cubano";
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		button {
			color: #0099e8;
			background-color: #fff;
			border-radius: 5px;
			&:hover {
				text-decoration: none;
			}
		}

		.network-list {
			.network-row {
				background-color: #fff;
				background-position: 6px 5px;
				background-repeat: no-repeat;
				background-size: 47px 47px;
				border-radius: 6px 4px;
				padding: 0;
				cursor: pointer;
				p {
					padding: 19px;
					padding-left: 88px;
					font-size: 1.1rem;
				}
			}

			.network--fb {
				background-image: url(/statics/images/logo-fb.png);
				color: #385e98;

			}
			.network--tw {
				background-image: url(/statics/images/logo-tw.png);
				color: #0099e7;
			}
			.network--gl {
				background-image: url(/statics/images/logo-gl.png);
				color: #c52227;
			}
		}

		.terms {
			color: #85bace;
			font-family: "Overcoat Bold";
			font-size: 0.75rem;
			line-height: 2.3rem;
			text-transform: none;
		}
	}

	.footer-message {
		font-family: "Overcoat Medium";
		font-size: 0.95rem;

	}

}

.tooltip {
	width: 180px;
	background: #0099e8;
	color: white;
	position: absolute;
	z-index: 9;
	padding: 0.4% 1%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	right: -16px;

	a {
		color: #fff;
		display: block;
		font-family: "Overcoat Medium";
		font-size: 13px;
		line-height: 1.2rem;
		&:hover {
			text-decoration: none;
		}
	}

	&-top {
		top: -90px;
	}

	&-bottom {
		top: 32px;
	}
}

.tooltip-caret {
	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 6px solid #0099e8;
	}
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 5px solid transparent;
	}

	&:before {
		right: 10px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&-bottom:before {
		right: 10px;
		top: 27px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-width: 0;
		border-bottom-width: 5px;
	}

	&-top:before {
		right: 10px;
		top: -17px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&:after {
		margin-left: -5px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}
}

.upload-icon {
	line-height: 2.1rem;
	display: inline-block;
	background-image: url(/statics/images/upload.png);
	background-size: 28px 25px;
	background-repeat: no-repeat;
	background-position: 0 4px;
	text-transform: inherit;
}

.box--rounded {
	border-radius: 5px;
}

.border--gray {
	border-bottom: 1px solid #aab1b5 !important;
	box-shadow: 0 0 !important;
}

.button--close {
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	height: 32px;
	font-size: 1rem;
}

.button--invite {
	font-family: "Overcoat News";
	border-radius: 5px;
	background-color: #339933;
	color: #fff;
	cursor: pointer;
	height: 24px;
}

.button--follow {
	font-family: "Overcoat News";
	font-size: 0.75rem;
	border: 1px solid #0099e8;
	border-radius: 5px;
	background-color: #fff;
	color: #0099e8;
	cursor: pointer;
	height: 24px;
}