//---------------------------------\\
//----------Table of Content-------\\
//---------------------------------\\
// 01 Import epp mixins
// 02 Import Variables
// 03 Import Components
// 04 Import Icons
@import "epp";
@import "commons/fonts";
@import "commons/oc-variables";
@import "commons/oc-components";
@import "commons/oc-icons";
@import "commons/oc-utils";

$blue: #0099e8;

.epp-ctn--gtr>[class*="epp-cl-"] {
	box-sizing: border-box;
	padding-left: 16px;
	padding-right: 16px;
}

.overcoatExtensionContainer {
	width: 400px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}

body {
	color: #414141;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
	background-color: #0099e8;
	font-family: 'Overcoat News', sans-serif;
	font-size: 0.75rem;
}

main {
	height: 100%;
}

button {
	font-family: 'Overcoat Medium', sans-serif;
	cursor: pointer;
}

.valign--text-top {
	display: inline-block;
	vertical-align: text-top;
}

.valign--middle {
	display: inline-block;
	vertical-align: middle;
}

.text--bold {
	font-weight: bold;
	font-family: 'Overcoat Bold', sans-serif;
}

.text--smallest {
	font-size: 0.65rem;
	line-height: 1.2rem;
	font-weight: normal;
}

.text--smaller {
	font-size: 0.70rem;
	line-height: 1rem;
	font-weight: normal;
}

.avatar--small {
	width: 47px;
	height: 47px;
}

.avatar--smallest {
	width: 34px;
	height: 34px;
}

.link-style {
	color: #009be2;
	&:hover {
		text-decoration: none;
		opacity: 80%;
	}
}

.link-style--gray {
	color: #999;
	&:hover {
		color: #999;
	}
}

.main-header {
	background-color: #0099e8;

	nav {
		font-family: 'Cubano', sans-serif;
		.main-menu__button {
			font-size: 1.3rem;
			color: #a3dbf5;
			font-weight: bold;
			line-height: 0.9rem;
			padding: 0 8px;
			display: inline-block;
			position: relative;
			text-transform: uppercase;
			vertical-align: middle;

			&.main-menu__button--active {
				color: #fff;
			}

			&:hover {
				text-decoration: none;
			}

			span {
				cursor: pointer;
			}

			.icon-down {
				margin-left: 5px;
				font-size: 0.75rem;
			}
		}

		.submenu {
			display: block;
			line-height: 0.6rem;
			.main-menu__button {
				font-size: 0.65rem;
				padding: 0 5px;
			}

			.submenu-search {
				.main-menu__button {
					font-size: 1rem;
				}
			}

		}

		.icon-search {
			background-image: url('/statics/images/lupa.png');
			width: 25px;
			height: 25px;
			display: inline-block;
			vertical-align: top;
		}
	}

	.close-search {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 2.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.close-account {
		color: #fff;
		font-size: 1.5rem;
		display: inline-block;
		line-height: 1.5rem;
		cursor: pointer;
		font-weight: 100;
	}

	.coat-row {
		background: #fff;

		img {
			display: inline-block;
			vertical-align: middle;
		}

		input {
			color: $blue;
			&.rounded-box {
				border: 0px;
			}
		}
		.avatar--small {
			.avatar--rounded {
				border-radius: 3px;
			}
		}

		p {
			color: #ccc;
			font-size: 1.1rem;
			line-height: 2rem;
			cursor: pointer;
		}
	}

	.posting-box {
		background: #fff;
		padding: 8px;

		textarea {
			font-family: "Overcoat News";
			font-size: 1rem;
			color: #333;
			border: 0;
		}

		.button--close {
			color: #ccc;
		}
	}
}

.footer-link {
	line-height: 0.5rem;
	text-transform: uppercase;
	margin-bottom: 0;
	font-size: 0.65rem;
	//font-family: "Overcoat Black";
}

input.footer-link {
	line-height: 1rem;
	font-size: 0.65rem;
	background: transparent;
	height: auto;
	vertical-align: baseline;
	font-family: "Overcoat Bold";
}
.main {
	height: 100%;
	.relative {
		position: relative;
	}

	.first-here {
		background: #1e1f24;
		color: #c0c0c0;
		height: 100%;

		p {
			font-family: "Overcoat Book";
			font-size: 1.4rem;
			line-height: 2rem;
		}

	}

	.new-coats {
		background-color: #009be2;
		border-radius: 15px;
		font-size: 0.75rem;
		span {
			color: #fff;
		}
	}

	.screenname {
		margin: 0;
		line-height: 1.2rem;
		font-size: 0.75rem;
		white-space: nowrap;
		text-overflow: ellipsis;
		.user-counter {
			color: #9a9a9a;
			font-size: 0.60rem;
			padding-left: 2px;
		}
	}

	.subline {
		color: #8d8d8d;
		font-size: 0.75rem;
	}

	.friend-invitations {
		background-color: #ff8000;
		color: #fff;

		.invite-title {
			display: inline-block;
			font-size: 1rem;
			font-family: "Cubano";
			text-transform: uppercase;
		}
	}

	.oc-box {
		background: #fff;

		&.reply {
			background: #fafcfc;

			.icon-3points {
				padding-left: 6px;
			}

		}

		&.oc-box--friend-invitation {
			color: #fff;
			font-family: "Overcoat Bold";
			background-color: #ff8000;
			.screenname {
				font-size: 0.8rem;
				line-height: 3rem;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}

		&.oc-box--friend-join {
			p {
				line-height: 2rem;
			}
		}

		&.oc-box--friend-follow {

		}

		.notification-link {
			font-size: 0.8rem;
		}

		.notification-desc {
			color: #6f6f6f;
			font-size: 0.8rem;
		}

		.icon-3points {
			height: 25px;
			background-image: url('/statics/images/3-points.png');
			background-color: transparent;
			background-repeat: no-repeat;
			background-position-x: right;
		}

		main {
			color: #333;
		}

		footer {
			border-bottom: 1px solid #005d88;
			box-shadow: 0 -1px 0 #005d88 inset;
		}

		.append {
			&.append--replies-ctn {
				background-color: #0099e8;
			}
			&.append--photo-ctn {
				height: 200px;

				.append--photo {
					width: 100%;
					height: 100%;
					background-size: cover;
					background-position: 50%;
					background-image: url('/statics/images/photo.png');
				}
			}
		}
	}

	.account {
		background: #fff;

		.account--header {
			padding: 16px 8px;
			border-bottom: 1px solid #ccc;
			padding-bottom: 16px;
		}

		.account--footer {
			border-bottom: 1px solid #ccc;
			padding: 16px 8px;

			p {
				color: #ff8000;
				font-size: 2rem;
			}

			span {
				font-size: 0.75rem;
				text-transform: uppercase;
			}
		}
	}

	.discover {
		.coat-name {
			font-size: 1rem;
			line-height: 2.5rem;
			color: #0099e8;
		}

		.num-coat {
			margin: 0;
			color: #ff8000;
			display: block;
			line-height: 1.5rem;
		}

		.num-coat--text {
			display: inline-block;
			vertical-align: middle;
			color: #444;
		}

		.user-stats {
			h2 {
				color: #ff8000;
				margin: 0;
			}
			span {
				font-size: 0.70rem;
				color: #444;
				text-transform: uppercase;
			}
		}
	}
}

.modal-invite {
	color: #fff;
}

.welcome-main {
	background: #0099e8;
	color: #fff;
	height: 100%;
	font-family: "Cubano";

	h1 {
		&.welcome-overcoat {
			font-size: 3.2rem;
			line-height: 3rem;
		}
	}

	.site-mission {
		p {
			font-family: "Overcoat Medium";
			font-size: 1.3rem;
			line-height: 1.7rem;
		}
	}

	.network-login {
		background-color: #0a759d;

		p {
			font-family: "Cubano";
			font-size: 1.3rem;
			text-transform: uppercase;
		}
		button {
			color: #0099e8;
			background-color: #fff;
			border-radius: 5px;
			&:hover {
				text-decoration: none;
			}
		}

		.network-list {
			.network-row {
				background-color: #fff;
				background-position: 4px;
				background-repeat: no-repeat;
				background-size: 47px 47px;
				border-radius: 6px 4px;
				padding: 0;
				cursor: pointer;
				p {
					padding: 19px;
					padding-left: 88px;
					font-size: 1.1rem;
				}
			}

			.network--fb {
				background-image: url(/statics/images/logo-fb.png);
				color: #385e98;

			}
			.network--tw {
				background-image: url(/statics/images/logo-tw.png);
				color: #0099e7;
			}
			.network--gl {
				background-image: url(/statics/images/logo-gl.png);
				color: #c52227;
			}
		}

		.terms {
			color: #85bace;
			font-family: "Overcoat Bold";
			font-size: 0.75rem;
			line-height: 2.3rem;
			text-transform: none;
		}
	}

}

.tooltip {
	width: 180px;
	background: #0099e8;
	color: white;
	position: absolute;
	z-index: 9;
	padding: 0.4% 1%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	right: 0;

	a {
		color: #fff;
		display: block;
		font-size: 0.85rem;
		line-height: 1.2rem;
		&:hover {
			text-decoration: none;
		}
	}

	&-top {
		top: -90px;
	}

	&-bottom {
		top: 32px;
	}
}

.tooltip-caret {
	&:before {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 6px solid #0099e8;
	}
	&:after {
		content: '';
		position: absolute;
		width: 0;
		height: 0;
		border: 5px solid transparent;
	}

	&:before {
		right: 10px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&-bottom:before {
		right: 10px;
		top: 27px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-top-width: 0;
		border-bottom-width: 5px;
	}

	&-top:before {
		right: 10px;
		top: -17px;
		margin-left: -6px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}

	&:after {
		margin-left: -5px;
		border-right-color: transparent;
		border-left-color: transparent;
		border-bottom-width: 0;
	}
}

.upload-icon {
	line-height: 2rem;
	display: inline-block;
	background-image: url(/statics/images/upload.png);
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: 0px 4px;
}

.box--rounded {
	border-radius: 5px;
}

.border--gray {
	border-bottom: 1px solid #aab1b5 !important;
	box-shadow: 0 0 !important;
}

.button--close {
	background-color: transparent;
	color: #fff;
	cursor: pointer;
	height: 32px;
	font-size: 1rem;
}

.button--invite {
	border-radius: 5px;
	background-color: #339933;
	color: #fff;
	cursor: pointer;
	height: 24px;
}

.button--follow {
	border: 1px solid #0099e8;
	border-radius: 5px;
	background-color: #fff;
	color: #0099e8;
	cursor: pointer;
	height: 25px;
}